.produtos {
  background-color: hsl(357, 50%, 10%);
  /* background-color: var(--black-color); */
  margin: 0;
  padding: 5vh 0;
}

.produto {
  border-radius: 15px;
  width: 60vw;

  min-height: 25vh;
  max-height: fit-content;
  margin-left: 20vw;
  margin-bottom: 5vh;
  background-color: var(--dark-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto img {
  height: 20vh;
  border-radius: 50%;
  position: relative;
  left: -10vh;
  transition: 0.7s;
}

.produto img:hover {
  height: 35vh;
  border-radius: 15%;
  transition: 0.7s;
}

.data {
  color: var(--light-color);
  width: fit-content;
  max-width: 60%;
  height: fit-content;
  background-color: var(--dark-color);
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  margin-left: -20px;

  align-items: center;
}

.comprar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: fit-content;
  background-color: #adff2f;
  color: var(--dark-color);
  margin-right: 10px;
  border-radius: 50px;
  padding: 10px;
}

.comprar:hover {
  background-color: #69bb0b;
  transition: 0.3s;
}

.tamanho,
.materiais {
  color: rgb(238, 238, 228, 0.8);
}

.nome {
  font-size: 22px;
  color: var(--primary-color);
  font-weight: 600;
}
